<h1>All your posts here</h1>

<table>
	<tr>
		<th> Tytuł </th>
		<th> Treść </th>
	</tr>
	<% @posts.each do |post| %>
	<tr>
		<td> <%= post.title %> </td>
		<td> <%= post.content %> </td>
		<td> <%= link_to "pokaż cały wpis", post_path(post.id) %> </td>
		<td> <%= link_to "edytuj wpis", edit_post_path(post.id) %> </td>
		<td> <%= link_to "kasuj wpis", post_path(post.id), method: :delete %> </td>
	</tr>
	<% end %>
</table>

<%= link_to "dodaj nowy post", new_post_path %>

