<h1>Dodaj posta</h1>


<% if @post.errors.any? %>
  <% @post.errors.full_messages.each do |msg| %>
    <%= msg %> <br>
  <% end %>
<% end %>


<%= form_for @post do |f| %>
<p> Tytuł : <% f.label :title %> </p>
<p> <%= f.text_field :title %> </p>
<p> Treść <% f.label :content %> </p>
<p> <%= f.text_field :content %> </p>
<p> <%= f.submit "dodaj post" %> </p>
<% end %>
<p><%= link_to "Posty", posts_path %></p>
